$fondoprincipal: #4d82cb;
$fondoheadfooter: #0d47a1;
$negro: black;
$blanco: rgb(255, 255, 255);
$fondonav: #1565c0;
$azultransparentoso: rgba(5.1%, 27.8%, 63.1%, .7);
$azulmarino: #051936;
$lineargradnav: linear-gradient(to right, #4d82cb, #ffffff, #1565c0);
