@import "colores";
@import "hovernav";
/*formato*/
@mixin fondo {
    background-color: $fondoheadfooter;
}
body {   
    @include fondo;
    color: $negro;
    width: 95%;
    height: 600px;
    font-family: "Raleway", sans-serif;
    src: url(../assets/fonts/Raleway.ttf);
    a:visited, a:link {
        color: inherit;
        text-decoration: none;
    }
    #encabezado {
        @include fondo;
        color: $blanco;
    }
    .footer__caja1 {
        @extend #encabezado;
    }
    .logo__ayrestech {
        font-size: 50px;
    }
    .ubicacion__head {
        font-size: 25px; 
    }
    .nav__up {
        background-color: $fondonav;
        color: $blanco;
        margin-right: 8px;
    }
    .nav__down {
        @extend .nav__up;
    }
    .productos {
        background-color: $blanco;
    }
    .productos__izquierda {
        @extend .productos;
    }
    .texto__confondo {
        background-color: $azultransparentoso;
        color: $blanco;
        text-align: center;
    }
    footer {
        color: $azulmarino;
        @include fondo;
        .footer__caja3 {
            padding: 10px;
            background-color: $blanco;
        }
        .rrss {
            @extend .footer__caja3;
        }
    }
    .rrss, #ubicacion{
        font-size: 19px;                   
    }
}